.person-container {
  padding: 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 7rem;
}

.person-container:hover {
  background: rgba(226, 226, 226, 0.116);
}

.person-name {
  flex-grow: 1;
  text-align: center;
}

.person-name p {
  padding: 0.3rem 0.4rem;
}

.person-name input {
  display: block;
  width: 100%;
  background: none;
  border: none;
  border-bottom: 1px solid #ddd;
  padding: 0.3rem 0.4rem;
  outline: none;
}

.cta {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  grid-gap: 0.5rem;
}
